{% extends "base.html" %}

{% load static %}

{% block title %}Обо мне{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{% static 'image/image.png' %}" class="rounded-circle" alt="Profile" width="150">
        </div>
        <div class="col-md-8">
            <h1>Обо мне</h1>

            <p class="lead">Привет! Меня зовут Олжас, я аналитик данных, и моя страсть — находить решения для бизнеса с помощью аналитики и технологий. В мире данных я вижу не просто цифры и графики, а ключи к принятию обоснованных решений и повышению эффективности. Я верю, что качественный анализ может изменить подход к бизнесу, сделать его более устойчивым и конкурентоспособным.</p>
            
            <p>В своей работе я использую различные инструменты аналитики, от SQL и Python до Power BI и Tableau. Мой опыт охватывает как анализ больших данных, так и создание предсказательных моделей с использованием машинного обучения. Я постоянно изучаю новые методы и алгоритмы, чтобы предугадывать тенденции и помогать компаниям двигаться вперед.</p>
            
            <p>Помимо работы с данными, я увлечен задачами, которые требуют креативности и нестандартного подхода. Я люблю разрабатывать визуализации, которые превращают сложные данные в понятные и информативные решения для конечных пользователей. Создание интерактивных дашбордов и отчетов, которые помогают принимать решения в реальном времени — это одна из моих сильных сторон.</p>
            
            <p>В свободное время я активно занимаюсь спортом, в первую очередь баскетболом. Для меня это не только способ поддерживать физическую форму, но и отличная возможность развивать командный дух и стратегическое мышление. Я также большой фанат команды Miami Heat, и каждую игру следую за их успехами, ведь эта команда — настоящий пример упорства и командной работы, что очень перекликается с моим подходом к работе.</p>
            
            <p>Кроме того, я люблю путешествовать и открывать для себя новые культуры. Это помогает мне лучше понимать разные подходы к решению задач и расширяет кругозор, что всегда полезно в моей профессиональной деятельности. Я стремлюсь к постоянному обучению и росту как профессионала, и всегда рад новым вызовам, которые открывают передо мной мир аналитики и данных.</p>
            
            <p>Если вам нужно решение сложной задачи с использованием данных или помощь в создании аналитических систем — не стесняйтесь обратиться. Я всегда готов к новым проектам и рад поделиться своим опытом!</p>
                </div>
    </div>
{% endblock content %}